body {
  background-image: url("../img/background.jpg");
}

iframe {
    position: absolute;
    left: 50%;
    margin-left: -280px;
    top: 50%;
    margin-top: -156px;
}


/*Simple reset*/
* {margin: 0; padding: 0;}

canvas {
	display: block;
}
